.mypy_cache
.DS_Store
.pytest_cache
coverage.xml
.tox
.coverage
htmlcov
*.egg-info
packages/open_aea
learning_agent
learning_service

packages/valory/agents/*
packages/valory/connections/*
packages/valory/contracts/*
packages/valory/services/*
packages/valory/protocols/*
packages/valory/skills/*

!packages/valory/agents/learning_agent
!packages/valory/services/learning_service
!packages/valory/skills/learning_abci
!packages/valory/skills/learning_chained_abci

leak_report
/Pipfile.lock
keys.json
ethereum_private_key.txt
__pycache__/
.env
